<div class="row mx-auto">
<div class="card" *ngFor="let card of cards" style="background-color: #a0aeb3; width:10%;row-gap: 40px;">
 <a href="https://engineering-stream-hackathon.github.io/challenge/#/">
  <div class="container"  >
  <h6>{{card.title}}</h6>
  <h6>{{card.longUrl}}</h6>
	<p>{{card.description}}</p>
  </div>
 </a>
</div>
</div>

<div class="row card-deck">
  <div class="row">
    <div class="card">
      <h3>title :</h3>
      <p>shortUrl :</p>
      <p>description :</p>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <h3>title :</h3>
      <p>shortUrl :</p>
      <p>description :</p>
    </div>
  </div>
  
  <div class="row">
    <div class="card">
      <h3>title :</h3>
      <p>shortUrl :</p>
      <p>description :</p>
    </div>
  </div>
  
  <div class="row">
    <div class="card">
      <h3>title :</h3>
      <p>shortUrl :</p>
      <p>description :</p>
    </div>
  </div>
</div>