<div class="col-md-4">
  <h2 class="text-center">Create New Card</h2>
  <form>
    <div class="form-group">
      <label for="name">CardTitle:</label>
      <input type="name" [(ngModel)]="user.name" placeholder="title" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="designation">Description:</label>
      <input [(ngModel)]="user.designation" placeholder="description" name="designation" class="form-control" id="designation">
    </div>

    <div class="form-group">
      <label for="empId">Card Id</label>
      <input [(ngModel)]="user.empId" placeholder="card Id" name="Employee Id" class="form-control" id="employeeid">
    </div>

    <button class="btn btn-success" (click)="createEmployee()"  routerLink="/">Create</button>
  </form>
  </div>
